<h1>Profile</h1>
  <p><img src="{{user.picture}}" alt="melon"></p>
  <p>Name: {{user.username}}</p>
  <p>Age: {{user.age}}</p>
  <p>Gender: {{user.gender}}</p>
  <p>Interested in: {{user.interestedin}}</p>
  <p>Description: {{user.description}}</p>
<h2>Matches</h2>


<a href="/matches/{{#each matches}}{{id}}{{/each}}">
{{#each usernames}}<p>{{this}}</p>{{/each}}</a>
