<h1>Profile</h1>
  <p><img src="{{user.picture}}" alt="melon"></p>
  <p>Name: {{username}}</p>
  <p>Age: {{age}}</p>
  <p>Gender: {{gender}}</p>
  <p>Interested in: {{interestedin}}</p>
  <p>Description: {{description}}</p>
<h2>Matches</h2>


<a href="/matches/{{#each matches}}{{id}}{{/each}}">
{{#each usernames}}<p>{{this}}</p>{{/each}}</a>
