<section>
  <div class = "match-info">
    <img src="{{matchUser.picture}}" width="200px">
    <p>Your match: {{matchUser.username}}</p>
    <p>{{matchUser.description}}</p>
  </div>
</section>
<section class="container">
  <div id="map">
  </div>
  <div>
    <p id = "spot-name"></p>
    <p id = "spot-description"></p>
    <p>Good luck!</p>
  <a href="/cards" class="button">Back</a>
  </div>
  <span id="matchid" name="{{matchId}}"></span>
  <span id="spotid" name="{{spot}}"></span>

<script src="/javascripts/main.js"></script>
