<section>
  <div class = "profile-img">
    <img src="{{img}}" alt="melon">
  </div>
  <div>
    {{username}}
    {{age}}
    {{gender}}
    {{interestedin}}
    {{description}}
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio inventore aspernatur cupiditate modi explicabo sint doloremque, maiores numquam reiciendis eius, autem dolore rerum nostrum recusandae corrupti accusamus rem nesciunt ducimus.</p>
  </div>
  <div>
    <form method="POST" action="/cards/{{this.userId}}">
        <input type="checkbox" name="choice" value="no" onchange="this.form.submit()">
        <em>No</em>
        <input type="checkbox" name="choice" value="yes" onchange="this.form.submit()">
        <em>Yes</em>
    </form>
  </div>
</section>