<section>
  <div class = "profile-img">
    <img src="{{img}}" alt="melon">
  </div>
  <div>
    <p>Name: {{username}}</p>
    <p>Age: {{age}}</p>
    <p>Gender: {{gender}}</p>
    <p>Interested in: {{interestedin}}</p>
    <p>Description: {{description}}</p>
  </div>
  <div>
    <form method="POST" action="/cards/{{this.userId}}">
        <input type="checkbox" name="choice" value="no" onchange="this.form.submit()">
        <em>No</em>
        <input type="checkbox" name="choice" value="yes" onchange="this.form.submit()">
        <em>Yes</em>
    </form>
  </div>
</section>