<section class="background-cards">
  <div class="cards-users">
  <div class = "profile-img">
    <img src="{{img}}" alt="melon" class="cards-circle" width="250px">
  </div>
  <div>
    <p>{{username}}, {{age}}</p>
      <br>
    <p><strong>Gender: </strong> <i>{{gender}}</i></p>
    <p><strong>Interested in: </strong> <i>{{interestedin}}</i></p>
    <p><strong>Description: </strong> <i>"{{description}}"</i></p>
  </div>
  <div class="row">
    <form method="POST" action="/cards/{{this.userId}}" class="form-cards">
        <input type="checkbox" name="choice" value="no" onchange="this.form.submit()">
        <em>No</em>
        <input type="checkbox" name="choice" value="yes" onchange="this.form.submit()">
        <em>Yes</em>
    </form>
  </div>
  </div>
</section>


<script>

  const parentContainer = document.querySelector('.container');
  parentContainer.style.padding = "0px";

</script>